* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

h1 {
    text-align: center;
    padding: 10px;
    color: #fff;
}

.container {
    max-width: 750px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    padding: 40px;
}

#app div {
    padding: 5px;
}